.featured-image {
  width: 100%;
  border: 2px solid black;
  transition: filter 300ms ease-in-out;
}

.featured-box {
  padding-top: 3%;
}

.featured-image-small {
  padding-bottom: 5%;
}

.featured-title {
  font-size: 150%;
  font-weight: bold;
}

.featured-image:hover {
  filter: brightness(1.05);
  cursor: pointer;
}

.featured-title-sub {
  font-size: 120%;
  font-weight: bold;
}

.featured-title, .featured-description, .featured-title-sub {
  cursor: pointer;
}
