<div class="row category-line-box">
  <p class="category-title">News</p>
  <hr>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-lg-block col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                               class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-lg-block col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                               class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
</div>
<div class="row category-line-box">
  <p class="category-title">Reviews</p>
  <hr>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-lg-block col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                               class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-lg-block col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                               class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
</div>
