<div class="row category-line-box">
  <p class="category-title">News</p>
  <hr>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="{{api.posts[0].title}}"
                                      class="featured-image">
    <p class="featured-title-sub">{{api.posts[0].title}}</p>
    <p class="featured-description">{{api.posts[0].body}}</p></div>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="{{api.posts[1].title}}"
                                      class="featured-image">
    <p class="featured-title-sub">{{api.posts[1].title}}</p>
    <p class="featured-description">{{api.posts[1].body}}</p></div>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="{{api.posts[2].title}}"
                                      class="featured-image">
    <p class="featured-title-sub">{{api.posts[2].title}}</p>
    <p class="featured-description">{{api.posts[2].body}}</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="{{api.posts[3].title}}"
                                                        class="featured-image">
    <p class="featured-title-sub">{{api.posts[3].title}}</p>
    <p class="featured-description">{{api.posts[3].body}}</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="{{api.posts[4].title}}"
                                                        class="featured-image">
    <p class="featured-title-sub">{{api.posts[4].title}}</p>
    <p class="featured-description">{{api.posts[4].body}}</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="{{api.posts[5].title}}"
                                                        class="featured-image">
    <p class="featured-title-sub">{{api.posts[5].title}}</p>
    <p class="featured-description">{{api.posts[5].body}}</p></div>
  <div class="d-none d-lg-block col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="{{api.posts[6].title}}"
                                               class="featured-image">
    <p class="featured-title-sub">{{api.posts[6].title}}</p>
    <p class="featured-description">{{api.posts[6].body}}</p></div>
  <div class="d-none d-lg-block col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="{{api.posts[7].title}}"
                                               class="featured-image">
    <p class="featured-title-sub">{{api.posts[7].title}}</p>
    <p class="featured-description">{{api.posts[7].body}}</p></div>
</div>
<div class="row category-line-box">
  <p class="category-title">Reviews</p>
  <hr>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                      class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-md-block col-md-4 col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                                        class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-lg-block col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                               class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
  <div class="d-none d-lg-block col-lg-3"><img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt=""
                                               class="featured-image">
    <p class="featured-title-sub">Title of less recent featured post</p>
    <p class="featured-description">This is the description to a recent featured post. You should
      check this post out.</p></div>
</div>
