html, body {
  height: 100%;
}

body {
  background-color: #eee;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 992px) {
 body {
   background-color: #FFFFFF;
 }
}

.m-auto {
  margin: auto;
}

hr {
  width: 100%;
  height: 1px;
  border-color: black;
  margin-top: 0;
}

bg-white {
  background-color: #FFFF;
}

.navbar {
  z-index: 9999;
}

.success-alert {
  background-color: #28a745 !important;
  color: white !important;
}

.decoration-alert {
  background-color: #aca800 !important;
  color: white !important;
}

.mat-simple-snackbar-action {
  color: white !important;
}

.pointer {
  cursor: pointer;
}
